.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: var(--token-L5ZvEOVLJ);
  padding-left: var(--token-2zjFq4DPV);
  display: flex;
  flex-direction: row;
  left: auto;
  top: auto;
  z-index: 1;
  background: none;
  min-width: 0;
}
.svg__fpYPs {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
  color: var(--token-UwQVPw4EQ);
  width: 200px;
  flex-shrink: 0;
  min-height: 0;
}
.text__sS8E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-q1R6Co1cF);
  font-weight: 900;
  font-size: 40px;
  min-width: 0;
}
.ul {
  flex-direction: column;
  display: flex;
  position: relative;
  padding-left: 0px;
  list-style-type: none;
  list-style-position: outside;
}
.ul > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.ul > :global(.__wab_flex-container) > *,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul > :global(.__wab_flex-container) > picture > img,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 15px;
}
.li__msfYk {
  position: relative;
  display: flex;
  flex-direction: row;
}
.listItem__mGkDp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___7Wr43 {
  font-family: var(--token-ongjxvNd3);
}
.li__qbcx9 {
  position: relative;
  display: flex;
  flex-direction: row;
}
.listItem__lti77:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__qrGv9 {
  font-family: var(--token-ongjxvNd3);
}
.li__jKDeD {
  position: relative;
  display: flex;
  flex-direction: row;
}
.listItem___6SxMq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__cdBiA {
  font-family: var(--token-ongjxvNd3);
}
.li___2ID {
  position: relative;
  display: flex;
  flex-direction: row;
}
.listItem__wxcOr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__px9Wx {
  font-family: var(--token-ongjxvNd3);
}
