.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: linear-gradient(#d8f1ff4d, #d8f1ff4d),
    url("/plasmic/amap_website/images/paperTexture.png") top 50% left 50% / contain repeat;
  position: relative;
  border-bottom-style: none;
  border-bottom-width: 1px;
  min-width: 0;
  min-height: 0;
  padding: 100px 0px 0px;
  border-top: 5px none var(--token-5wRFei0Vr);
}
.footerminimal {
  background: none;
  padding-top: 0px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-style: none;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 0px var(--token-7R6fY6Np7);
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-L5ZvEOVLJ));
  width: calc(100% + var(--token-L5ZvEOVLJ));
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--token-L5ZvEOVLJ)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--token-L5ZvEOVLJ)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--token-L5ZvEOVLJ)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-L5ZvEOVLJ);
}
@media (max-width: 1280px) {
  .columns {
    flex-direction: row;
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-2zjFq4DPV));
    height: calc(100% + var(--token-2zjFq4DPV));
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (max-width: 1280px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-left: 0px;
    margin-top: var(--token-2zjFq4DPV);
  }
}
@media (max-width: 1024px) {
  .columns {
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - var(--token-2zjFq4DPV));
    height: calc(100% + var(--token-2zjFq4DPV));
  }
}
@media (max-width: 1024px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (max-width: 1024px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-top: var(--token-2zjFq4DPV);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-self: auto;
    min-width: 0;
    padding: var(--token-zOZyz0Vdx) var(--token-xmbQtwPzW) 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (max-width: 640px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsminimal {
  display: none;
}
.columnsminimal > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--token-L5ZvEOVLJ)) * 4 / 12);
}
.columnsminimal > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--token-L5ZvEOVLJ)) * 4 / 12);
}
.columnsminimal > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--token-L5ZvEOVLJ)) * 4 / 12);
}
.column__haRo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .column__haRo {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__haRo {
    justify-content: flex-start;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 300px;
  width: 75%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__mFf3K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .column__mFf3K {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mFf3K {
    justify-content: flex-start;
    align-items: center;
  }
}
.text__pZLrk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-ongjxvNd3);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: var(--token-xmbQtwPzW);
  color: var(--token-pf4RLfMl0);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__pZLrk {
    text-align: center;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pZLrk {
    align-self: center;
    text-align: center;
  }
}
.freeBox__jxPc2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--token-L5ZvEOVLJ);
  min-width: 0;
}
@media (max-width: 1024px) {
  .freeBox__jxPc2 {
    width: auto;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jxPc2 {
    justify-content: center;
  }
}
.slotTargetSchedule {
  font-family: var(--token-ongjxvNd3);
  font-size: 18px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSchedule {
    text-align: center;
  }
}
.freeBox__krf4F {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krf4F {
    align-self: center;
  }
}
.slotTargetAddress {
  font-family: var(--token-ongjxvNd3);
  font-size: 18px;
}
.freeBox__lqfLt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__lqfLt {
    align-items: flex-start;
    justify-content: center;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lqfLt {
    width: auto;
    align-self: center;
  }
}
.slotTargetPostCode {
  font-family: var(--token-ongjxvNd3);
  font-size: 18px;
}
.freeBox__cdTq1 {
  position: relative;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}
.slotTargetCity {
  font-family: var(--token-ongjxvNd3);
  font-size: 18px;
}
.column___4XhX0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .column___4XhX0 {
    justify-content: flex-start;
    align-items: center;
  }
}
.text__xu6J3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-pf4RLfMl0);
  font-family: var(--token-ongjxvNd3);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: var(--token-xmbQtwPzW);
  min-width: 0;
}
@media (max-width: 1024px) {
  .text__xu6J3 {
    width: auto;
    text-align: center;
  }
}
.freeBox__rdFqS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-xmbQtwPzW);
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1024px) {
  .freeBox__rdFqS {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rdFqS {
    width: auto;
    align-self: center;
  }
}
.text__i7PwG {
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: var(--token-ongjxvNd3);
  font-size: 18px;
  margin-right: var(--token-eReirMpIv);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i7PwG {
    text-align: center;
  }
}
.phone {
  font-family: var(--token-ongjxvNd3);
  font-size: 18px;
}
.email {
  font-size: 18px;
  font-family: var(--token-ongjxvNd3);
}
.freeBox___7CGho {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-63kTP6Ueu) var(--token-7R6fY6Np7) var(--token-2zjFq4DPV);
}
.freeBox___7CGho > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-xmbQtwPzW));
  width: calc(100% + var(--token-xmbQtwPzW));
}
.freeBox___7CGho > :global(.__wab_flex-container) > *,
.freeBox___7CGho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7CGho > :global(.__wab_flex-container) > picture > img,
.freeBox___7CGho > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-xmbQtwPzW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7CGho {
    padding-right: var(--token-xmbQtwPzW);
    padding-left: var(--token-xmbQtwPzW);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7CGho > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
  }
}
.freeBoxminimal___7CGho8Pz46 {
  background: url("/plasmic/amap_website/images/concreteTexture.jpeg") top 50% left 50% / contain repeat;
}
.homeLink {
  position: relative;
  color: var(--token-B133__sIH);
  font-family: var(--token-ongjxvNd3);
  cursor: pointer;
}
.footer .homeLink:hover {
  color: var(--token-WNBJHso-i);
}
.text__bTlzx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.sitemapLink {
  position: relative;
  color: var(--token-B133__sIH);
  font-family: var(--token-ongjxvNd3);
  cursor: pointer;
}
.footer .sitemapLink:hover {
  color: var(--token-WNBJHso-i);
}
.text__kiWO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.legalLink {
  position: relative;
  color: var(--token-B133__sIH);
  font-family: var(--token-ongjxvNd3);
  cursor: pointer;
}
.footer .legalLink:hover {
  color: var(--token-WNBJHso-i);
}
.text__ssTur {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.privacyPolicyLink {
  position: relative;
  color: var(--token-B133__sIH);
  font-family: var(--token-ongjxvNd3);
  cursor: pointer;
}
.footer .privacyPolicyLink:hover {
  color: var(--token-WNBJHso-i);
}
.text__wih21 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.link {
  position: relative;
  color: var(--token-B133__sIH);
  font-family: var(--token-ongjxvNd3);
  cursor: pointer;
}
.footer .link:hover {
  color: var(--token-WNBJHso-i);
}
