.root {
  flex-direction: column;
  display: flex;
  width: 400px;
  height: auto;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - var(--token-eReirMpIv));
  height: calc(100% + var(--token-eReirMpIv));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-eReirMpIv);
}
.img__e1SOt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 128px;
  height: 128px;
  flex-shrink: 0;
}
.img__e1SOt > picture > img {
  object-fit: cover;
}
.img__e1SOt > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__v90Ma {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("/plasmic/amap_website/images/bannerGreen.svg") top 50% left 50% / contain no-repeat;
  padding-right: var(--token-2zjFq4DPV);
  padding-left: var(--token-2zjFq4DPV);
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetTitle {
  font-family: var(--token-q1R6Co1cF);
  font-size: 40px;
  font-weight: 900;
  color: var(--token-B133__sIH);
  text-align: center;
}
.freeBox__e3E4B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetDescription {
  font-family: var(--token-ongjxvNd3);
  text-align: center;
}
