.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/amap_website/images/concreteTexture.png") top 50% left 50% / contain repeat;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__grGkp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 80%;
  margin-top: var(--token-7R6fY6Np7);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__grGkp {
    max-width: none;
    padding-right: var(--token-eReirMpIv);
    padding-left: var(--token-eReirMpIv);
  }
}
.h1 {
  color: var(--token-pf4RLfMl0);
  font-family: var(--token-q1R6Co1cF);
  font-weight: 900;
  font-size: 48px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: var(--token-7R6fY6Np7);
  width: auto;
  height: auto;
  letter-spacing: normal;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    max-width: 100%;
  }
}
.freeBox___33Za {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-63kTP6Ueu);
  min-width: 0;
}
.img__l8Qw5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: var(--token-2zjFq4DPV);
  flex-shrink: 0;
}
.img__l8Qw5 > picture > img {
  object-fit: cover;
}
.img__l8Qw5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___0Jl4Z {
  color: var(--token-B133__sIH);
  font-family: var(--token-q1R6Co1cF);
  font-size: 30px;
  text-align: center;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("/plasmic/amap_website/images/bannerBlue.svg") top 50% left 50% / contain no-repeat;
  padding: 16px 36px;
  margin: 0px 0px 16px;
}
@media (max-width: 640px) {
  .text___0Jl4Z {
    font-size: 24px;
  }
}
.email {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: var(--token-ongjxvNd3);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 640px) {
  .email {
    font-size: 24px;
  }
}
.img___5Khuj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  margin-top: var(--token-63kTP6Ueu);
  margin-bottom: var(--token-2zjFq4DPV);
  flex-shrink: 0;
}
.img___5Khuj > picture > img {
  object-fit: cover;
}
.img___5Khuj > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__w8G0I {
  color: var(--token-B133__sIH);
  font-family: var(--token-q1R6Co1cF);
  font-size: 30px;
  text-align: center;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("/plasmic/amap_website/images/bannerYellow.svg") top 50% left 50% / contain no-repeat;
  padding: 16px 36px;
  margin: 0px 0px 16px;
}
@media (max-width: 640px) {
  .text__w8G0I {
    font-size: 24px;
  }
}
.phone {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: var(--token-ongjxvNd3);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 640px) {
  .phone {
    font-size: 24px;
  }
}
.img___9UsEl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: var(--token-2zjFq4DPV);
  margin-top: var(--token-63kTP6Ueu);
  flex-shrink: 0;
}
.img___9UsEl > picture > img {
  object-fit: cover;
}
.img___9UsEl > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__kt2Xc {
  color: var(--token-B133__sIH);
  font-family: var(--token-q1R6Co1cF);
  font-size: 30px;
  text-align: center;
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  background: url("/plasmic/amap_website/images/bannerMelon.svg") top 50% left 50% / contain no-repeat;
  padding: 16px 36px;
  margin: 0px 0px 16px;
}
@media (max-width: 640px) {
  .text__kt2Xc {
    font-size: 24px;
  }
}
.addressInfos {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .addressInfos {
    width: auto;
  }
}
.freeBox___5QtE {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--token-eReirMpIv);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5QtE {
    display: flex;
  }
}
.slotTargetSchedule {
  font-family: var(--token-ongjxvNd3);
  font-size: 30px;
  text-align: center;
}
@media (max-width: 640px) {
  .slotTargetSchedule {
    font-size: 24px;
  }
}
.freeBox__itwZt {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__itwZt {
    justify-content: flex-start;
    align-items: center;
  }
}
.slotTargetAddress {
  font-family: var(--token-ongjxvNd3);
  font-size: 30px;
  text-align: center;
}
@media (max-width: 640px) {
  .slotTargetAddress {
    font-size: 24px;
  }
}
.freeBox__btpo0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__btpo0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-xmbQtwPzW));
  width: calc(100% + var(--token-xmbQtwPzW));
}
.freeBox__btpo0 > :global(.__wab_flex-container) > *,
.freeBox__btpo0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__btpo0 > :global(.__wab_flex-container) > picture > img,
.freeBox__btpo0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-xmbQtwPzW);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btpo0 {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__btpo0 > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: center;
  }
}
.slotTargetPostCode {
  font-family: var(--token-ongjxvNd3);
  font-size: 30px;
  text-align: center;
}
@media (max-width: 640px) {
  .slotTargetPostCode {
    font-size: 24px;
  }
}
.freeBox__ebdkx {
  position: relative;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}
.slotTargetCity {
  font-family: var(--token-ongjxvNd3);
  font-size: 30px;
  text-align: center;
}
@media (max-width: 640px) {
  .slotTargetCity {
    font-size: 24px;
  }
}
