.root {
  position: relative;
  width: auto;
  height: auto;
  background: var(--token-WNBJHso-i);
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.2s;
  border-radius: 3px;
  padding: 5px 15px;
  border: 1px none var(--token-5wRFei0Vr);
}
.roottype_outlined {
  background: none;
  border-style: solid;
  border-color: var(--token-WNBJHso-i);
}
.roottype_link {
  background: none;
  border-style: none;
  border-color: var(--token-WNBJHso-i);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
