.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  padding: var(--token-eReirMpIv) var(--token-7R6fY6Np7);
}
@media (max-width: 1024px) {
  .root {
    padding-right: var(--token-zOZyz0Vdx);
    padding-left: var(--token-zOZyz0Vdx);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: var(--token-eReirMpIv);
  }
}
.logo {
  position: relative;
  align-self: flex-start;
  display: flex;
}
.siteLogo:global(.__wab_instance) {
  align-self: auto;
}
.headerNav:global(.__wab_instance) {
  position: relative;
  align-self: flex-start;
}
