@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Aleo%3Aital%2Cwght%400%2C400%3B0%2C700&family=Josefin+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-5iF75TGQk: Josefin Sans;
  --plasmic-token-josefin-sans: var(--token-5iF75TGQk);
  --token-ongjxvNd3: Aleo;
  --plasmic-token-aleo: var(--token-ongjxvNd3);
  --token-WNBJHso-i: #2589c1;
  --plasmic-token-blue: var(--token-WNBJHso-i);
  --token-pf4RLfMl0: #004f7b;
  --plasmic-token-dark-blue: var(--token-pf4RLfMl0);
  --token-a3sQNIQBO: #32a6e7;
  --plasmic-token-light-blue: var(--token-a3sQNIQBO);
  --token-UwQVPw4EQ: #98ffc7;
  --plasmic-token-aquamarine: var(--token-UwQVPw4EQ);
  --token-A3eGaVZ4V: #ffb09e;
  --plasmic-token-melon: var(--token-A3eGaVZ4V);
  --token-p784AvFnn: #fffdeb;
  --plasmic-token-ivory: var(--token-p784AvFnn);
  --token-f5DnpGASR: #3b3b3b;
  --plasmic-token-jet: var(--token-f5DnpGASR);
  --token-5wRFei0Vr: #d3d3d3;
  --plasmic-token-gray: var(--token-5wRFei0Vr);
  --token-5wRFei0Vr: #d3d3d3;
  --plasmic-token-gray: var(--token-5wRFei0Vr);
  --token-bcRhS8bcI: 30px;
  --plasmic-token-titles: var(--token-bcRhS8bcI);
  --token-xmbQtwPzW: 10px;
  --plasmic-token-space-10: var(--token-xmbQtwPzW);
  --token-eReirMpIv: 16px;
  --plasmic-token-space-16: var(--token-eReirMpIv);
  --token-L5ZvEOVLJ: 24px;
  --plasmic-token-space-24: var(--token-L5ZvEOVLJ);
  --token-2zjFq4DPV: 36px;
  --plasmic-token-space-36: var(--token-2zjFq4DPV);
  --token-zOZyz0Vdx: 48px;
  --plasmic-token-space-48: var(--token-zOZyz0Vdx);
  --token-63kTP6Ueu: 60px;
  --plasmic-token-space-60: var(--token-63kTP6Ueu);
  --token-7R6fY6Np7: 96px;
  --plasmic-token-space-96: var(--token-7R6fY6Np7);
  --token-XCQtnCr6F: #2fc875;
  --plasmic-token-green: var(--token-XCQtnCr6F);
  --token-aoN-7lE5z: #d8f1ff;
  --plasmic-token-pale-blue: var(--token-aoN-7lE5z);
  --token-8lrXM-NQ6: #fffaca;
  --plasmic-token-yellow: var(--token-8lrXM-NQ6);
  --token-B133__sIH: #535353;
  --plasmic-token-antracite: var(--token-B133__sIH);
}

.plasmic_default_styles {
  --mixin-n3Scqtajgc_font-family: "Inter";
  --mixin-n3Scqtajgc_font-size: 16px;
  --mixin-n3Scqtajgc_font-weight: 400;
  --mixin-n3Scqtajgc_font-style: normal;
  --mixin-n3Scqtajgc_color: #535353;
  --mixin-n3Scqtajgc_text-align: left;
  --mixin-n3Scqtajgc_text-transform: none;
  --mixin-n3Scqtajgc_line-height: 1.5;
  --mixin-n3Scqtajgc_letter-spacing: normal;
  --mixin-n3Scqtajgc_white-space: pre-wrap;
  --mixin-n3Scqtajgc_user-select: text;
  --mixin-n3Scqtajgc_text-decoration-line: none;
  --mixin-n3Scqtajgc_text-overflow: clip;
  --mixin-YHb1FhDODg_color: #000000;
  --mixin-YHb1FhDODg_font-weight: 900;
  --mixin-YHb1FhDODg_font-size: 72px;
  --mixin-YHb1FhDODg_line-height: 1;
  --mixin-YHb1FhDODg_letter-spacing: -4px;
  --mixin-PE1nYfdeL0_font-family: "Inter";
  --mixin-PE1nYfdeL0_color: #000000;
  --mixin-PE1nYfdeL0_font-size: 48px;
  --mixin-PE1nYfdeL0_font-weight: 700;
  --mixin-PE1nYfdeL0_letter-spacing: -1px;
  --mixin-PE1nYfdeL0_line-height: 1.1;
  --mixin-ZvL5JRB9kd_color: #0070f3;
  --mixin-CwwiOtQiAu_font-family: "Inter";
  --mixin-CwwiOtQiAu_color: #000000;
  --mixin-CwwiOtQiAu_font-size: 32px;
  --mixin-CwwiOtQiAu_font-weight: 600;
  --mixin-CwwiOtQiAu_letter-spacing: -0.8px;
  --mixin-CwwiOtQiAu_line-height: 1.2;
  --mixin-wIa2Yeodp4_font-family: "Inter";
  --mixin-wIa2Yeodp4_color: #000000;
  --mixin-wIa2Yeodp4_font-size: 24px;
  --mixin-wIa2Yeodp4_font-weight: 600;
  --mixin-wIa2Yeodp4_letter-spacing: -0.5px;
  --mixin-wIa2Yeodp4_line-height: 1.3;
  --mixin-81pqHF4fT-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-81pqHF4fT-_border-bottom-color: #dddddd;
  --mixin-81pqHF4fT-_border-bottom-style: solid;
  --mixin-81pqHF4fT-_border-bottom-width: 1px;
  --mixin-81pqHF4fT-_border-left-color: #dddddd;
  --mixin-81pqHF4fT-_border-left-style: solid;
  --mixin-81pqHF4fT-_border-left-width: 1px;
  --mixin-81pqHF4fT-_border-right-color: #dddddd;
  --mixin-81pqHF4fT-_border-right-style: solid;
  --mixin-81pqHF4fT-_border-right-width: 1px;
  --mixin-81pqHF4fT-_border-top-color: #dddddd;
  --mixin-81pqHF4fT-_border-top-style: solid;
  --mixin-81pqHF4fT-_border-top-width: 1px;
  --mixin-81pqHF4fT-_border-bottom-left-radius: 3px;
  --mixin-81pqHF4fT-_border-bottom-right-radius: 3px;
  --mixin-81pqHF4fT-_border-top-left-radius: 3px;
  --mixin-81pqHF4fT-_border-top-right-radius: 3px;
  --mixin-81pqHF4fT-_font-family: "Inconsolata";
  --mixin-81pqHF4fT-_padding-bottom: 1px;
  --mixin-81pqHF4fT-_padding-left: 4px;
  --mixin-81pqHF4fT-_padding-right: 4px;
  --mixin-81pqHF4fT-_padding-top: 1px;
  --mixin-gD3nRxQkHr_border-left-color: #dddddd;
  --mixin-gD3nRxQkHr_border-left-style: solid;
  --mixin-gD3nRxQkHr_border-left-width: 3px;
  --mixin-gD3nRxQkHr_color: #888888;
  --mixin-gD3nRxQkHr_padding-left: 10px;
  --mixin-ICyTmW1ItY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ICyTmW1ItY_border-bottom-color: #dddddd;
  --mixin-ICyTmW1ItY_border-bottom-style: solid;
  --mixin-ICyTmW1ItY_border-bottom-width: 1px;
  --mixin-ICyTmW1ItY_border-left-color: #dddddd;
  --mixin-ICyTmW1ItY_border-left-style: solid;
  --mixin-ICyTmW1ItY_border-left-width: 1px;
  --mixin-ICyTmW1ItY_border-right-color: #dddddd;
  --mixin-ICyTmW1ItY_border-right-style: solid;
  --mixin-ICyTmW1ItY_border-right-width: 1px;
  --mixin-ICyTmW1ItY_border-top-color: #dddddd;
  --mixin-ICyTmW1ItY_border-top-style: solid;
  --mixin-ICyTmW1ItY_border-top-width: 1px;
  --mixin-ICyTmW1ItY_border-bottom-left-radius: 3px;
  --mixin-ICyTmW1ItY_border-bottom-right-radius: 3px;
  --mixin-ICyTmW1ItY_border-top-left-radius: 3px;
  --mixin-ICyTmW1ItY_border-top-right-radius: 3px;
  --mixin-ICyTmW1ItY_font-family: "Inconsolata";
  --mixin-ICyTmW1ItY_padding-bottom: 3px;
  --mixin-ICyTmW1ItY_padding-left: 6px;
  --mixin-ICyTmW1ItY_padding-right: 6px;
  --mixin-ICyTmW1ItY_padding-top: 3px;
  --mixin-jrIGkUtFQ5-_display: flex;
  --mixin-jrIGkUtFQ5-_flex-direction: column;
  --mixin-jrIGkUtFQ5-_align-items: stretch;
  --mixin-jrIGkUtFQ5-_justify-content: flex-start;
  --mixin-jrIGkUtFQ5-_list-style-position: outside;
  --mixin-jrIGkUtFQ5-_padding-left: 40px;
  --mixin-jrIGkUtFQ5-_position: relative;
  --mixin-jrIGkUtFQ5-_list-style-type: disc;
  --mixin-8SFwAeEbF8C_display: flex;
  --mixin-8SFwAeEbF8C_flex-direction: column;
  --mixin-8SFwAeEbF8C_align-items: stretch;
  --mixin-8SFwAeEbF8C_justify-content: flex-start;
  --mixin-8SFwAeEbF8C_list-style-position: outside;
  --mixin-8SFwAeEbF8C_padding-left: 40px;
  --mixin-8SFwAeEbF8C_position: relative;
  --mixin-8SFwAeEbF8C_list-style-type: decimal;
  --mixin-v8QVEX8Be82_font-family: "Inter";
  --mixin-v8QVEX8Be82_color: #000000;
  --mixin-v8QVEX8Be82_font-size: 20px;
  --mixin-v8QVEX8Be82_font-weight: 600;
  --mixin-v8QVEX8Be82_letter-spacing: -0.3px;
  --mixin-v8QVEX8Be82_line-height: 1.5;
  --mixin-O9eyM5IpZTl_font-family: "Inter";
  --mixin-O9eyM5IpZTl_color: #000000;
  --mixin-O9eyM5IpZTl_font-size: 16px;
  --mixin-O9eyM5IpZTl_font-weight: 600;
  --mixin-O9eyM5IpZTl_line-height: 1.5;
  --mixin-8Ml_f1K0fgK_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-n3Scqtajgc_font-family);
  font-size: var(--mixin-n3Scqtajgc_font-size);
  font-weight: var(--mixin-n3Scqtajgc_font-weight);
  font-style: var(--mixin-n3Scqtajgc_font-style);
  color: var(--mixin-n3Scqtajgc_color);
  text-align: var(--mixin-n3Scqtajgc_text-align);
  text-transform: var(--mixin-n3Scqtajgc_text-transform);
  line-height: var(--mixin-n3Scqtajgc_line-height);
  letter-spacing: var(--mixin-n3Scqtajgc_letter-spacing);
  white-space: var(--mixin-n3Scqtajgc_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-YHb1FhDODg_color);
  font-weight: var(--mixin-YHb1FhDODg_font-weight);
  font-size: var(--mixin-YHb1FhDODg_font-size);
  line-height: var(--mixin-YHb1FhDODg_line-height);
  letter-spacing: var(--mixin-YHb1FhDODg_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-PE1nYfdeL0_font-family);
  color: var(--mixin-PE1nYfdeL0_color);
  font-size: var(--mixin-PE1nYfdeL0_font-size);
  font-weight: var(--mixin-PE1nYfdeL0_font-weight);
  letter-spacing: var(--mixin-PE1nYfdeL0_letter-spacing);
  line-height: var(--mixin-PE1nYfdeL0_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-ZvL5JRB9kd_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-CwwiOtQiAu_font-family);
  color: var(--mixin-CwwiOtQiAu_color);
  font-size: var(--mixin-CwwiOtQiAu_font-size);
  font-weight: var(--mixin-CwwiOtQiAu_font-weight);
  letter-spacing: var(--mixin-CwwiOtQiAu_letter-spacing);
  line-height: var(--mixin-CwwiOtQiAu_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-wIa2Yeodp4_font-family);
  color: var(--mixin-wIa2Yeodp4_color);
  font-size: var(--mixin-wIa2Yeodp4_font-size);
  font-weight: var(--mixin-wIa2Yeodp4_font-weight);
  letter-spacing: var(--mixin-wIa2Yeodp4_letter-spacing);
  line-height: var(--mixin-wIa2Yeodp4_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-81pqHF4fT-_background);
  font-family: var(--mixin-81pqHF4fT-_font-family);
  border-radius: var(--mixin-81pqHF4fT-_border-top-left-radius)
    var(--mixin-81pqHF4fT-_border-top-right-radius)
    var(--mixin-81pqHF4fT-_border-bottom-right-radius)
    var(--mixin-81pqHF4fT-_border-bottom-left-radius);
  padding: var(--mixin-81pqHF4fT-_padding-top)
    var(--mixin-81pqHF4fT-_padding-right) var(--mixin-81pqHF4fT-_padding-bottom)
    var(--mixin-81pqHF4fT-_padding-left);
  border-top: var(--mixin-81pqHF4fT-_border-top-width)
    var(--mixin-81pqHF4fT-_border-top-style)
    var(--mixin-81pqHF4fT-_border-top-color);
  border-right: var(--mixin-81pqHF4fT-_border-right-width)
    var(--mixin-81pqHF4fT-_border-right-style)
    var(--mixin-81pqHF4fT-_border-right-color);
  border-bottom: var(--mixin-81pqHF4fT-_border-bottom-width)
    var(--mixin-81pqHF4fT-_border-bottom-style)
    var(--mixin-81pqHF4fT-_border-bottom-color);
  border-left: var(--mixin-81pqHF4fT-_border-left-width)
    var(--mixin-81pqHF4fT-_border-left-style)
    var(--mixin-81pqHF4fT-_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-gD3nRxQkHr_color);
  padding-left: var(--mixin-gD3nRxQkHr_padding-left);
  border-left: var(--mixin-gD3nRxQkHr_border-left-width)
    var(--mixin-gD3nRxQkHr_border-left-style)
    var(--mixin-gD3nRxQkHr_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-ICyTmW1ItY_background);
  font-family: var(--mixin-ICyTmW1ItY_font-family);
  border-radius: var(--mixin-ICyTmW1ItY_border-top-left-radius)
    var(--mixin-ICyTmW1ItY_border-top-right-radius)
    var(--mixin-ICyTmW1ItY_border-bottom-right-radius)
    var(--mixin-ICyTmW1ItY_border-bottom-left-radius);
  padding: var(--mixin-ICyTmW1ItY_padding-top)
    var(--mixin-ICyTmW1ItY_padding-right) var(--mixin-ICyTmW1ItY_padding-bottom)
    var(--mixin-ICyTmW1ItY_padding-left);
  border-top: var(--mixin-ICyTmW1ItY_border-top-width)
    var(--mixin-ICyTmW1ItY_border-top-style)
    var(--mixin-ICyTmW1ItY_border-top-color);
  border-right: var(--mixin-ICyTmW1ItY_border-right-width)
    var(--mixin-ICyTmW1ItY_border-right-style)
    var(--mixin-ICyTmW1ItY_border-right-color);
  border-bottom: var(--mixin-ICyTmW1ItY_border-bottom-width)
    var(--mixin-ICyTmW1ItY_border-bottom-style)
    var(--mixin-ICyTmW1ItY_border-bottom-color);
  border-left: var(--mixin-ICyTmW1ItY_border-left-width)
    var(--mixin-ICyTmW1ItY_border-left-style)
    var(--mixin-ICyTmW1ItY_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-jrIGkUtFQ5-_display);
  flex-direction: var(--mixin-jrIGkUtFQ5-_flex-direction);
  align-items: var(--mixin-jrIGkUtFQ5-_align-items);
  justify-content: var(--mixin-jrIGkUtFQ5-_justify-content);
  list-style-position: var(--mixin-jrIGkUtFQ5-_list-style-position);
  padding-left: var(--mixin-jrIGkUtFQ5-_padding-left);
  position: var(--mixin-jrIGkUtFQ5-_position);
  list-style-type: var(--mixin-jrIGkUtFQ5-_list-style-type);
  flex-column-gap: var(--mixin-jrIGkUtFQ5-_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-8SFwAeEbF8C_display);
  flex-direction: var(--mixin-8SFwAeEbF8C_flex-direction);
  align-items: var(--mixin-8SFwAeEbF8C_align-items);
  justify-content: var(--mixin-8SFwAeEbF8C_justify-content);
  list-style-position: var(--mixin-8SFwAeEbF8C_list-style-position);
  padding-left: var(--mixin-8SFwAeEbF8C_padding-left);
  position: var(--mixin-8SFwAeEbF8C_position);
  list-style-type: var(--mixin-8SFwAeEbF8C_list-style-type);
  flex-column-gap: var(--mixin-8SFwAeEbF8C_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-v8QVEX8Be82_font-family);
  color: var(--mixin-v8QVEX8Be82_color);
  font-size: var(--mixin-v8QVEX8Be82_font-size);
  font-weight: var(--mixin-v8QVEX8Be82_font-weight);
  letter-spacing: var(--mixin-v8QVEX8Be82_letter-spacing);
  line-height: var(--mixin-v8QVEX8Be82_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-O9eyM5IpZTl_font-family);
  color: var(--mixin-O9eyM5IpZTl_color);
  font-size: var(--mixin-O9eyM5IpZTl_font-size);
  font-weight: var(--mixin-O9eyM5IpZTl_font-weight);
  line-height: var(--mixin-O9eyM5IpZTl_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-8Ml_f1K0fgK_color);
}
