.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/amap_website/images/concreteTexture.png") top 50% left 50% / contain repeat;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__lmwJe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 80%;
  min-width: 0;
  padding: 0px 0px var(--token-7R6fY6Np7);
}
.h1 {
  color: var(--token-pf4RLfMl0);
  font-family: var(--token-q1R6Co1cF);
  font-weight: 900;
  font-size: 48px;
  text-align: left;
  width: auto;
  height: auto;
  letter-spacing: normal;
  margin: 96px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    color: var(--token-pf4RLfMl0);
    font-family: var(--token-q1R6Co1cF);
    font-weight: 900;
    font-size: 48px;
    text-align: left;
    max-width: 100%;
    width: auto;
    height: auto;
    letter-spacing: normal;
    margin: 96px 0px 0px;
  }
}
.freeBox__dcjzy {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 16px;
  align-self: auto;
  margin-bottom: var(--token-eReirMpIv);
  min-width: 0;
  padding: 0px;
}
.svg__x6UlQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ghuSe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__frs9T {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__l8Oml {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: var(--token-p784AvFnn);
  box-shadow: none;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #c5c091;
}
.freeBox__iSeip {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: var(--token-p784AvFnn);
  box-shadow: none;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #c5c091;
}
.freeBox___5XtG3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: var(--token-p784AvFnn);
  box-shadow: none;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #c5c091;
}
.freeBox__lvvaf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: var(--token-p784AvFnn);
  box-shadow: none;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #c5c091;
}
.freeBox__zBlix {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: var(--token-p784AvFnn);
  box-shadow: none;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #c5c091;
}
.freeBox__se0Cf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: var(--token-p784AvFnn);
  box-shadow: none;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #c5c091;
}
.freeBox__lomGb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background: var(--token-p784AvFnn);
  box-shadow: none;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid #c5c091;
}
