.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-XCQtnCr6F);
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  font-family: var(--token-ongjxvNd3);
}
