.root {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__rc7M {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: none;
  min-width: 210px;
  width: 100%;
  height: auto;
  transition-property: all;
  transition-duration: 150ms;
  cursor: pointer;
  min-height: 210px;
  padding: var(--token-xmbQtwPzW);
  border: 1px none #d4cfa0;
}
.root:hover .freeBox__rc7M {
  box-shadow: 0px 4px 16px 0px #00000033;
}
.image {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  max-width: 100%;
  background: var(--token-WNBJHso-i);
  flex-shrink: 0;
  border-radius: 100%;
}
.freeBox___9JV3Z {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  padding: 0px var(--token-eReirMpIv);
}
.freeBox___9JV3Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-eReirMpIv));
  height: calc(100% + var(--token-eReirMpIv));
}
.freeBox___9JV3Z > :global(.__wab_flex-container) > *,
.freeBox___9JV3Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9JV3Z > :global(.__wab_flex-container) > picture > img,
.freeBox___9JV3Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-eReirMpIv);
}
.freeBox__gPtl4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-family: var(--token-ongjxvNd3);
  font-size: 20px;
  font-weight: 600;
  color: var(--token-B133__sIH);
  text-align: center;
}
