.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/amap_website/images/concreteTexture.png") top 50% left 50% / contain repeat;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__dKgMs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 80%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dKgMs {
    max-width: none;
    padding-right: var(--token-eReirMpIv);
    padding-left: var(--token-eReirMpIv);
  }
}
.h1 {
  text-align: center;
  color: var(--token-pf4RLfMl0);
  font-size: 48px;
  font-family: var(--token-q1R6Co1cF);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 96px 0px 48px;
}
.freeBox__cUf01 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 680px;
  min-width: 0;
}
.freeBox__cUf01 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-L5ZvEOVLJ));
  width: calc(100% + var(--token-L5ZvEOVLJ));
  margin-top: calc(0px - var(--token-63kTP6Ueu));
  height: calc(100% + var(--token-63kTP6Ueu));
}
.freeBox__cUf01 > :global(.__wab_flex-container) > *,
.freeBox__cUf01 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cUf01 > :global(.__wab_flex-container) > picture > img,
.freeBox__cUf01 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-L5ZvEOVLJ);
  margin-top: var(--token-63kTP6Ueu);
}
.freeBox__yE05A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h2__k9RKi {
  color: var(--token-WNBJHso-i);
  font-family: var(--token-ongjxvNd3);
  font-weight: 700;
  text-align: left;
  font-size: 30px;
  margin-bottom: var(--token-L5ZvEOVLJ);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.staticPages {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-ongjxvNd3);
  min-width: 0;
}
.freeBox__bp2Va {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h2__mGzH {
  color: var(--token-WNBJHso-i);
  font-family: var(--token-ongjxvNd3);
  font-weight: 700;
  text-align: left;
  font-size: 30px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px var(--token-L5ZvEOVLJ);
}
.articles {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-ongjxvNd3);
  min-width: 0;
}
.freeBox___6DKqX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.h2__glsBo {
  color: var(--token-WNBJHso-i);
  font-family: var(--token-ongjxvNd3);
  font-weight: 700;
  text-align: left;
  font-size: 30px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px var(--token-L5ZvEOVLJ);
}
.contracts {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: var(--token-ongjxvNd3);
  min-width: 0;
}
